
/* TODO: Run through CSS LINT */

/* Work in progress placeholder
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/

#in-progress-body {
    background-color: black;
}


#work-in-progress-header {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#work-in-progress-content {
    color: white;
    text-align: center;
    padding-top: 20vh;
    font-size: 5vw;
    line-height: 2;
}

.fas.fa-hammer {
    color: white;
    font-size: 6vw;
}

/*_________TABLE OF CONTENTS_________
    0. Meyer Reset
    1. Global Style
    2. Header/Sidebar
    3. Main Content
    4. Individual Page Styling
    5. Media Query
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/

/*=================  
 0. Meyer Reset     
==================*/ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* 1. Global Style
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/


body {
    font-family: 'Rubik', sans-serif;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

/* 2. Header/Sidebar
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/

header {
    /* Colors */
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
    /* Box */
    flex-grow: 1;
    flex-basis: 0;
    min-height: 96vh;
    /* Position Children*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* child margins */

.my-name, .my-description, .nav-links {
    margin-left: 15px;
}

.my-name {
    /* Text */ 
    font-size: 4rem;
    font-weight: 500;
    line-height: 1.1;
    letter-spacing: 2;
}

.my-description {
    /* Box */
    margin-right: auto;
    /* Font */ 
    line-height: 1.25;
    letter-spacing: 1;
    font-size: 1.8rem;
    font-weight: 300;
    color: rgb(255, 204, 0);
}

/* Navigation */

.nav-links li {
    /* Box */
    margin-top: 1.25rem;
}

.nav-links li:first-child {
    /* Box */
    margin-top: 0;
}

.nav-links li a {
    /* Text */
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    letter-spacing: 2;
    text-decoration: none;
}

        .nav-links li a:hover {
            /* Text */
            color: rgb(255, 204, 0);
        }

/* Social Media */

.social-media-links {
    /* Box */
    text-align: center;
    /* Icons */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

.social-media-links li {
    /* Sphere */
    border: 2px solid rgb(31, 31, 31);
    background-color: white;
    width: 40px;
    height:40px;
    border-radius: 50%;
}

.social-media-links a {
    /* Icons */
    line-height: 40px;
    font-size: 1.25rem;
    color: black;
}

/* User hovers on link => link reverses color */ 

.social-media-links li:hover {
    /* Box */
    background-color :rgb(31, 31, 31);
    border-color: white;
}

.social-media-links li:hover a{
    /* Icons */
    color:white;
}


/* Copywrite Footer */

.footer {
/* Box */
margin-left: 15px;
/* Text */
font-size: 0.8rem; 
font-weight: 500;
}

/* 3. Main Content
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/
main {
    /* Box */
    flex-grow: 2.5;
    flex-basis: 0;
    overflow: scroll;
    min-height: 100vh;
}

/* Center content */

.main-title, p, h2, h3, h4 {
    margin-right: 5vw;
    margin-left: 5vw;
}

.main-title{
    /* Text */
    font-weight: 600;
    font-size: 2.25rem;
    margin-top: 2rem;  
    margin-bottom: 1.75rem;
    color: rgb(31, 31, 31);
}

h3 {
    /* Text */ 
    font-weight: 600;
    font-size: 1.75rem;   
    margin-bottom: 1.5rem;
    color: rgb(31, 31, 31);
}

h4 {
    /* Text */ 
    font-weight: 500;
    font-size: 1.25rem;   
    margin-bottom: 1.5rem;
    color: rgb(31, 31, 31);
}

p {
    /* Text */
    font-size: 1.125rem;  
    text-align: justify; 
    line-height: 1.5;  
    color: rgb(31, 31, 31);
}


/* 4. Individual Page Styling
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/

/* Philosophy */

.academic-articles {
    /* Box */
    margin-top: 5vh;
}

.article {
    margin-bottom: 5vh;
}

.article-header {
    margin-bottom: 2vh;
}

.publication-status {
    font-style: italic;
    margin-bottom: 1vh;
}


/* LaTex */

.latex p {
    margin-bottom: 2vh;
}

.latex ul {
    margin-top: 3vh;
}

.latex-download-links {
    /* Icons */
    display: flex;
    flex-direction: row;
    justify-content: left;
    } 


    .latex-download-links li a {
        /* Box */
        border: 2px solid white;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        border-color: rgb(31, 31, 31); 
        margin-right: 1vh;
        margin-left: 1vh;
        /* Icons */
        color: rgb(0, 0, 0);
        font-size: 3vh;
    }

    .latex-download-links li a:hover {
    color: rgb(245, 60, 152);
    background-color: rgb(31, 31, 31);
    }

/* Credits */

 .credits p {
    margin-bottom: 2vh;
}


/* 4. Media Query
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/

@media only screen and (min-width: 600px) {
    .wrapper {
        flex-direction: row;
        overflow: none;
    }

    header {
        min-height: 600px;
        min-width: 325px;
    }

    main {
        min-height: 0;
    }

    .my-name, .my-description, .nav-links {
        margin-left: 30px;
    }
  }
