
/* Work in progress placeholders
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/

#in-progress-body {
    background-color: black;
}


#work-in-progress-header {
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#work-in-progress-content {
    color: white;
    text-align: center;
    padding-top: 20vh;
    font-size: 5vw;
    line-height: 2;
}

.fas.fa-hammer {
    color: white;
    font-size: 6vw;
}

/*_________TABLE OF CONTENTS________\*

   0.0 - Meyer Reset
   1.0 - Global Style
   2.0 - Responsive Styles
        2.0 - Mobile
            2.0.0 - 
        2.1 - Desktop
            2.1.0 - 
        2.2 - Widescreen
            2.2.0 -

\*‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/

/* ==================== */ 
/* = 0.0: Meyer Reset = */
/* ==================== */ 

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ========================== */ 
/* =   1.0: Global Style    = */
/* ========================== */ 


/* TODO: Use google font, set system backup */

body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    /* Disables bounce on scroll */
    overflow: hidden; 
}

main {
    /* Colors */
    background-color:rgb(255, 255, 255);
    color: rgb(31, 31, 31);
}
header {
    /* Colors */
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
}

.my-name {
    /* Text */ 
    font-size: 8vh;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 2;
}


/* ========================== */ 
/* = 2.0: Responsive Styles = */
/* ========================== */ 


/* -------------------------- */ 
/* ------ 2.0: Mobile ------- */
/* -------------------------- */ 

/* -------------------------- */ 
/* ------ 2.1: Desktop ------ */
/* -------------------------- */ 


/*______________________________
x.x HEADER
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/


/* Name & Description
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/
/* TODO: switch viewport font units on sidebar. Research em/rem units */ 

header {
    /* Box */
    width: 35vw;
    height: 100vh;
    position: fixed;
}

.my-name {
    /* Box */
   margin: 5vh 3vw;
   position: relative;
}

.my-description {
    /* Box */
    margin: 4vh 3vw 5vh 3vw;
    /* Font */ 
    line-height: 1.25;
    letter-spacing: 1;
    font-size: 3.25vh;
    font-weight: 400;
    color: rgb(255, 220, 5);
}


/* Nav and Social Media Buttons
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/
.nav-links {
    /* Box */
    margin: 5vh 2vw 5vh 2vw;

}

    .nav-links li {
        /* Box */
        margin-top: 1vh;
    }

        .nav-links li button {
            /* Box */
            background-color: rgb(31, 31, 31);
            border: none;
        }

        .nav-links li button a {
            /* Text */
            color: rgb(255, 255, 255);
            font-size: 3.5vh;
            letter-spacing: 2;
            text-decoration: none;
        }

        .nav-links li button a:hover {
            /* Text */
            color: rgb(255, 220, 5);
            font-size: 3.6vh;
        }

.social-media-links {
    /* Box */
    color: green;
    text-align: center;
    margin-top: 10vh;
    /* Icons */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

/* TODO: set maximum distance for space-evenly */


    .social-media-links li button {
       /* Sphere */
       border: 2px solid white;
       border-radius: 50%;
       width: 6vh;
       height: 6vh;
       /* centre icons */
       line-height: 4.75vh;
       /* icons */
       font-size: 3vh;
       text-align: center;

    }

        .social-media-links button:hover {
            /* Box */
            background-color: rgb(255, 220, 5);
            border-color:  rgb(255, 220, 5);
            width: 6.25vh;
            height: 6.25vh;
            /* centre icons */
            line-height: 5.5vh;
            /* icons */
            font-size: 3.25vh;
        }

/* Copywrite Footer
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/

.footer {
    /* Box */
    position: absolute;
    bottom: 1vh;
    left: 2vw;
    right: 2vw;
    height: 3vh;
    width: 40vw;
    /* Text */
    font-size: 2vh; 
    font-weight: 500;
}


/*______________________________
x.x Main content boxes
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/

main {
    /* Box */
    width: 55vw;
    height: 100vw;
    float: right;
}

/* Main content h and p tags */ 

h2 {
    /* Text */
    font-weight: 600;
    font-size: 5vh;   
    margin-bottom: 2vw;
    color: rgb(31, 31, 31);
    }

h3 {
    /* Text */ 
    font-weight: 600;
    font-size: 3.5vh;   
    margin-bottom: 2vw;
    color: rgb(31, 31, 31);
}

h4 {
    /* Text */ 
    font-weight: 500;
    font-size: 3vh;   
    margin-bottom: 2vw;
    color: rgb(31, 31, 31);
}

p {
    /* Text */
    font-size: 2.5vh;  
    text-align: justify; 
    line-height: 1.5;  
    color: rgb(31, 31, 31);
    }

/* About Me 
‾‾‾‾‾‾‾‾‾‾‾‾*/ 


.about-me {
    /* Box */
    margin: 5vh 5vw;
}


/* Philosophy
‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/ 


.philosophy {
    /* Box */
    margin: 5vh 5vw;
    overflow: auto;
    height: 90vh;
}

.academic-articles {
    /* Box */
    margin-top: 5vh;
}

.article {
    margin-bottom: 5vh;
}

.article-header {
    margin-bottom: 2vh;
}

.publication-status {
    font-style: italic;
    margin-bottom: 1vh;
}

/* ----------------------------- */ 
/* ------ 2.4: WideScreen ------ */
/* ----------------------------- */ 


