/*_________TABLE OF CONTENTS_________
    0. Meyer Reset
    1. Global Style
    2. Header/Sidebar
    3. Main Content
    4. Individual Page Styling
    5. Media Query
    6. Color Classes
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/

/* 1. Meyer Reset
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

/* italic and undeline commented out to allow use of <i> tags*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, /*u, i*/ center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 1. Global Style
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/

body {
    font-family: 'Rubik', sans-serif;
}

.wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    /* fills beneath header */
    background-color: rgb(31, 31, 31);
}

a {
    text-decoration: none;
}


/* 2. Header/Sidebar
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/

header {
    /* colors */
    background-color: rgb(31, 31, 31);
    color: rgb(255, 255, 255);
    /* box */
    margin-top: 1rem;
    flex-grow: 1;
    flex-basis: 0;
    min-height: 96vh;   
    /* position children*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* child margins */
.my-name, .my-description, .nav-links {
    margin-left: 15px
}

.my-name {
    /* text */ 
    font-size: 4rem;
    font-weight: 500;
}

.my-description {
    /* box */
    margin-right: auto;
    /* text */ 
    line-height: 1.25;
    letter-spacing: 1;
    font-size: 1.8rem;
    font-weight: 300;
    color: rgb(255, 204, 0);
}

/* Navigation */

.nav-links li {
    /* box */
    margin-top: 1.25rem;
}

.nav-links li:first-child {
    /* box */
    margin-top: 0;
}

.nav-links li a {
    /* text */
    color: rgb(255, 255, 255);
    font-size: 1.75rem;
    letter-spacing: 2;
    text-decoration: none;
}

/* Social Media */


.social-media-links {
    /* box */
    text-align: center;
    /* icons */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}

.social-media-links li {
    /* sphere */
    border: 2px solid rgb(31, 31, 31);
    background-color: white;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}

.social-media-links a {
    /* box */
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    /* icons */
    line-height: 2.5rem;
    font-size: 1.25rem;
    color: rgb(31, 31, 31);
}

/* User hovers on link => link reverses color */ 

.social-media-links li:hover{
     /* box */
     background-color :rgb(31, 31, 31);
     border-color: white;
     color: white;
     /* cursor */
     cursor: pointer;
} 

/* Copywrite Footer */

.footer {
    /* box */
    margin-left: 15px;
    margin-bottom: 0.75rem;
    /* text */
    font-size: 0.8rem; 
    font-weight: 500;
}

/* 3. Main Content
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/
main {
    /* box */
    flex-grow: 2.5;
    flex-basis: 0;
    background-color: white;
    padding-bottom: 20px;
}

.main-title, p, h2, h3, h4 {
    /* box (center) */
    margin-right: 5vw;
    margin-left: 5vw;
    /* text */
    color: rgb(31, 31, 31);
}

.main-title{
    /* text */
    font-weight: 600;
    font-size: 2.25rem;
    /* box */
    margin-top: 3rem;  
    margin-bottom: 1.75rem;
}

p {
    /* text */
    font-size: 1.125rem;  
    text-align: justify; 
    line-height: 1.5;  
}

h3 {
    /* text */ 
    font-weight: 600;
    font-size: 1.75rem;
    /* box */   
    margin-bottom: 1.5rem;
}

h4 {
    /* text */ 
    font-weight: 500;
    font-size: 1.25rem; 
    /* box */  
    margin-bottom: 1.5rem;
}


/* download buttons */

/* center link descriptions */
.link-list {
    line-height: 1.75rem;
    margin-top: 1rem;
    margin-left: 5vw;
}

.link-list li {
    /* sphere */
    border: 2px solid white;
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;
    border-color: rgb(31, 31, 31); 
    /* center icons */
    text-align: center;
    line-height: 1.75rem;
}

.paper-link, .latex-handout {
    margin-right: 0.25rem;
} 
        

/* .paper-download-links */

.link-list a {
    /* icons */
    color: rgb(31, 31, 31);
    font-size: 1.15rem;
}

.link-list a i {
/* center icons*/
    line-height: 1.75rem;
}

/* 4. Individual Page Styling
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/

/* 4.0 Philosophy
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/

/* Articles */

.academic-articles {
    /* box */
    margin-top: 5vh;
}

.article {
    /* box */
    margin-bottom: 5vh;
}

.article-header {
    /* box */
    margin-bottom: 2vh;
}

.publication-status {
    /* text */
    font-style: italic;
    /* box */
    margin-bottom: 1vh;
}

/* Talks */

.talks-list {
    margin-left: 5vw;
}

.talk {
    margin-top: 1rem;
    line-height: 1.5;
}

.talk li {
    margin-bottom: 0.5rem;
}

.talk-rule {
    margin-right: 5vw;
}

.handout {
    color: rgb(31, 31, 31);
}

/* 4.1 Latex
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/

.latex p {
    /* box */
    margin-bottom: 2vh;
}

.latex ul {
    /* box */
    margin-top: 3vh;
}

.link-list {
    /* icons */
    display: flex;
    flex-direction: row;
    justify-content: left;
} 



/* 4.3 Projects
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/

/* Flip Cards */

.project-flip-card {
    /* Box */
    width: 30rem;
    height: 15rem;
    /* vertical + horizonal text center */
    text-align: center;
    line-height: 14rem;
    margin: 2rem auto 2rem;
}

.flip-card-sleeve, .flip-card-front, .flip-card-back  {
    /* Box */
    position: relative;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 5px -1px rgba(0,0,0,0.68);
    border-radius: 10px;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-fromt {
    background-color: white;
    color: rgb(31, 31, 31);
}

.flip-card-back {
    background-color: white;
    color: rgb(31, 31, 31);
    transform: rotateY(180deg);
}

/* Flip Effect */

.flip-card {
    /* 3D Effect */
    perspective: 1000px;
}

.flip-card-sleeve {
    transition: transform 0.8s; 
    transform-style: preserve-3d;
}

/* Mouse hovers => card horizontally flips */ 
.project-flip-card:hover .flip-card-sleeve {
    transform: rotateY(180deg);
}

/* 4.4 Credits
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/

 .credits p {
    margin-bottom: 2vh;
}


/* 5. Media Queries
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/

/* Desktop */
@media only screen and (min-width: 650px) and (min-height: 425px) {
    .wrapper {
        flex-direction: row;
        overflow: none;
        height: 100vh;
    }

    header {
        min-height: 600px;
        min-width: 350px;
        margin-top: 2rem;
    }

    main {
        overflow: scroll;
    }

    .main-title { 
        margin-top: 2rem;
    }

    .my-name, .my-description, .nav-links {
        margin-left: 30px;
    }
  }

/* Tablet Vertical */
  @media only screen and (max-aspect-ratio: 5/4), (min-height: 900px) 
  {
      header {
        height: 45rem;
      }
  }

/* Wider Screens */

  @media only screen and (min-width: 1350px) 
  {
      html {
        font-size: 17px;
      }
  }

  @media only screen and (min-width: 1600px) 
  {
      html {
        font-size: 20px;
      }
  }
  
/* Small Mobiles (Iphone 5 etc.) */

/* Horizonal */
  @media only screen and (max-height: 600px) 
  {
      html {
        font-size: 13px;
      }

      .social-media-links {
        justify-content: center; 
      }

      .social-media-links a {
        margin-left: 10px; 
        margin-right: 10px;
      }
  }
/* Vertical */ 
  @media only screen and (max-height: 370px) 
  {
      html {
        font-size: 10px;
      }

      .social-media-links {
        justify-content: center; 
      }

      .social-media-links a {
        margin-left: 10px; 
        margin-right: 10px;
      }
  }


/* 6. Color Classes
‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾*/
/* Invert B&W on hover */

.link-list li:hover, .latex-handout:hover {
    background-color: rgb(31, 31, 31);
}

/* User Color Settings */


/* Pair 1 */

.color-class-0-0, .color-class-0-0 li a:hover {
    color: rgb(255, 204, 0);
}

.color-class-0-1 li:hover a, .color-class-0-1.hyperlink, .color-class-0-1.handout:hover {
    color: rgb(245, 60, 152);
}

/* Pair 2 */

.color-class-1-0, .color-class-1-0 li a:hover  {
    color: rgb(91, 227, 218);
}

.color-class-1-1 li:hover a, .color-class-1-1.hyperlink, .color-class-1-1.handout:hover {
    color: rgb(247, 97, 3);
}

/* Pair 3 */

.color-class-2-0, .color-class-2-0 li a:hover {
    color: rgb(68, 218, 27);
}

.color-class-2-1 li:hover a, .color-class-2-1.hyperlink, .color-class-2-1.handout:hover {
    color: rgb(200, 0, 255);
}

